extends ../layout

block title 
    | Coding Buddy :: Edit #{person.name}
    
block content
    form(method='post', action=`/persons/${person.id}?_method=PATCH`)
        .field
            label.label Name
            .control
                input.input(name='name', type='text', value=person.name)

        .field
            label.label E-mail
            .control 
                input.input(name='email', type='email', value=person.email)

        .field
            label.label Admin
            .control
                input.is-checkradio(type="checkbox" name="admin", disabled=!user.admin || user.id == person.id, checked=person.admin id="admin", value="true")
                label.is-marginless.is-block(for=`admin`)

        if (datasets)
            label.label Dataset permissions
            table.table
                thead
                    th DataSet
                    th(title='hidden')
                        i.iconify(data-icon='icomoon-free:eye-blocked', data-height='1.5em')
                    th(title='coder')
                        i.iconify(data-icon='ic:baseline-playlist-add-check', data-height='1.5em')
                    th(title='editor')
                        i.iconify(data-icon='ic:baseline-edit', data-height='1.5em')
                    th(title='admin')
                        i.iconify(data-icon='fa:cog', data-height='1.5em')
                each dataset, index in datasets
                    - var role = roles[index]
                    - var disabled = person.admin || person.id == dataset.owner
                    tr
                        td= dataset.name
                        td
                            input.is-checkradio(type="radio", id=`none.${dataset.id}` name=`datasets[${dataset.id}]` value='none' checked=role=="none" disabled=disabled)
                            label.is-marginless.is-block(for=`none.${dataset.id}`)
                        td
                            input.is-checkradio(type="radio", id=`view.${dataset.id}` name=`datasets[${dataset.id}]` value='view' checked=role=="view" disabled=disabled)
                            label.is-marginless.is-block(for=`view.${dataset.id}`)
                        td
                            input.is-checkradio(type="radio", id=`edit.${dataset.id}` name=`datasets[${dataset.id}]` value='edit' checked=role=="edit" disabled=disabled)
                            label.is-marginless.is-block(for=`edit.${dataset.id}`)
                        td
                            input.is-checkradio.is-danger(type="radio", id=`admin.${dataset.id}` name=`datasets[${dataset.id}]` value='admin' checked=role=="admin" disabled=disabled)
                            label.is-marginless.is-block(for=`admin.${dataset.id}`)

        .field
            .control
                input.button.is-primary(type='submit', value=`Update ${person.name}`)